body, html{
    height : 100%;
    margin : 0;
    font-size: 16px;
    font-family: "Lato",  sans-serif;
     font-weight: 400;
     line-height: 1.8em;
     color : #666;

}

.pimg1, .pimg2, .pimg3{
    position : relative;
    opacity :0.70;
    background-position: center;
    background-size: cover;
    background-repeat: ;
    background-attachment: fixed;


}
.section {
    text-align : center;
    padding : 50px , 80px;

}
.section-light{
   background-color: #f4f4f4;
    color : #666;
}
.section-dark{
    background-color: #282e34;
    color : #ddd;
 
}
.ptext{
    position :absolute;
    top :50%;
    width:100%;
    text-align:center;
    color:black;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.pimg1{
    background-image:url('C:/xampp/htdocs/Webfiles/css/img/img6.jpg');
    /* background-repeat: repeat-x;  */
    min-height:100%;
}
.pimg2{
    background-image:url('C:/xampp/htdocs/Webfiles/css/img/img7.jpg');
    /* background-repeat: repeat-x;  */
    min-height: 400px;
     

}
.pimg3  {
    background-image:url('C:/xampp/htdocs/Webfiles/css/img/img6.jpg');
    /* background-repeat: repeat-x;  */
    min-height: 400px;
     

}